@import '../../../assets/styles/variables';

:host {
  align-items: center;
  display: flex;
  height: $input-size;
  justify-content: space-between;
  padding: 0 16px;
  position: relative;
}

input {
  background-color: #fff;
  border-radius: 4px;
  border: $gray-border;
  cursor: default;
  height: $input-size;
  left: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}

p {
  cursor: default;
  font-family: 'WorkSans';
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  position: relative;
  text-align: center;
  z-index: 2;
}

.month {
  font-weight: 600;
}

.year {
  font-weight: 400;
  color: #1E2A3280;
}
