@import '../../../assets/styles/variables';

:host {
  border-radius: 8px;
  border: $gray-border;
  height: 155px;
  width: 480px;
}

.result-header {
  align-items: center;
  display: flex;
  height: 75px;
  justify-content: space-around;

  .title {
    font-family: 'WorkSans';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  .value {
    color: #0079FF;
    font-family: 'Rubik';
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
  }
}

.result-details {
  align-items: center;
  background-color: $white-background;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  font-family: 'WorkSans';
  font-size: 12px;
  font-weight: 400;
  height: 80px;
  line-height: 16px;
  padding: 0 32px;

  p {
    margin: 0;
  }
}

@media screen and (max-width: $mobile-size) {
  :host {
    width: 100%;
  }
}
