@import '../assets/styles/variables';

:host {
  background-color: $white-background;
  display: block;
  min-height: 100vh;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: $desktop-spacing 0;

  h1 {
    color: $blue;
    font-family: 'WorkSans';
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin: $desktop-spacing 0;

    strong {
      font-weight: 600;
    }
  }
}

@media screen and (max-width: $mobile-size) {
  .container {
    padding: $mobile-spacing 0;

    h1 {
      margin: $mobile-spacing 0;
    }
  }
}
