@import '../../../assets/styles/variables';

header {
  height: $toolbar-height;
  background: #FFF;
  display: flex;
  align-items: center;
  width: 100%;
}

img {
  height: 32px;
  margin-left: 56px;
}

@media (max-width: $mobile-size) {
  header {
    height: 56px;
  }

  img {
    height: 24px;
    margin-left: 16px;
  }
}
