@import '../../../assets/styles/variables';

header {
  align-items: center;
  background: #FFF;
  display: flex;
  height: $toolbar-desktop-height;
  width: 100%;
}

img {
  height: $toolbar-desktop-image-height;
  margin-left: 56px;
}

@media (max-width: $mobile-size) {
  header {
    height: $toolbar-mobile-height;
  }

  img {
    height: $toolbar-mobile-image-height;
    margin-left: 16px;
  }
}
