@import '../../../assets/styles/variables';

:host {
  display: flex;
}

section {
  background: #FFFFFF;
  box-shadow: 0px 16px 32px rgba(30, 42, 50, 0.08);
  border-radius: 8px;
  padding: 35px 40px 40px;
  width: 480px;
}

.goal-header {
  font-family: 'Rubik';
  display: flex;
  align-items: center;

  .goal-info {
    margin-left: 16px;

    p {
      margin: 0;
    }

    .goal-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;
      color: #1E2A32;
      margin-bottom: 4px;
    }

    .goal-subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #708797;
    }
  }
}

.goal-body {
  display: flex;
  margin-top: 28px;

  .amount {
    width: 272px;
    margin-right: 16px;
  }

  .datepicker {
    width: 192px;
  }

  .input-label {
    font-family: 'WorkSans';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 4px;
    display: inline-block;
  }
}


@media screen and (max-width: $mobile-size) {
  :host {
    width: 100%;
  }

  section {
    width: 100%;
    padding: 24px 24px 40px;
  }

  .goal-body {
    flex-direction: column;
    margin-top: 24px;

    .amount,
    .datepicker {
      width: 100%;
      margin-bottom: 16px;
    }
  }

}
