<section>
  <div class="goal-header">
    <img src="../../../assets/imgs/house-icon.svg" alt="Icon of a house">
    <div class="goal-info">
      <p class="goal-title">Buy a house</p>
      <p class="goal-subtitle">Saving goal</p>
    </div>
  </div>
  <div class="goal-body">
    <div class="form-field amount">
      <label class="input-label">Total Amount</label>
      <app-amount-input [amount]="5"></app-amount-input>
    </div>
    <div class="form-field datepicker">
      <label class="input-label">Reach goal by</label>
      <app-monthpicker></app-monthpicker>
    </div>
  </div>
</section>
