@import '../../../assets/styles/variables';

:host {
  display: flex;
}

section {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 16px 32px rgba(30, 42, 50, 0.08);
  padding: 35px 40px 40px;
  width: 480px;
}

.goal-header {
  align-items: center;
  display: flex;
  font-family: 'Rubik';

  .goal-info {
    margin-left: 16px;

    p {
      margin: 0;
    }

    .goal-title {
      color: #1E2A32;
      font-size: 24px;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 4px;
    }

    .goal-subtitle {
      color: #708797;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

.goal-body {
  display: flex;
  flex-direction: column;
  margin-top: 28px;

  .fields {
    display: flex;
    margin-bottom: 24px;
  }

  .amount {
    width: 272px;
    margin-right: 16px;
  }

  .datepicker {
    width: 192px;
  }

  .input-label {
    font-family: 'WorkSans';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 4px;
    display: inline-block;
  }

  button {
    align-self: center;
    background: $blue;
    border-radius: 32px;
    border: none;
    color: #fff;
    font-family: 'WorkSans';
    font-size: 16px;
    font-weight: 600;
    height: 56px;
    line-height: 20px;
    margin-top: 32px;
    width: 320px;
  }
}


@media screen and (max-width: $mobile-size) {
  :host {
    width: 100%;
  }

  section {
    width: 100%;
    padding: 24px 24px 40px;
  }

  .goal-body {
    flex-direction: column;
    margin-top: 24px;
    width: 100%;

    .fields {
      flex-direction: column;
    }

    .amount,
    .datepicker {
      width: 100%;
      margin-bottom: 16px;
    }

    button {
      width: 80%;
    }
  }
}
