<section>
  <div class="goal-header">
    <img src="../../../assets/imgs/house-icon.svg" alt="Icon of a house">
    <div class="goal-info">
      <p class="goal-title">Buy a house</p>
      <p class="goal-subtitle">Saving goal</p>
    </div>
  </div>
  <div class="goal-body">
    <div class="fields">
      <div class="form-field amount">
        <label class="input-label">Total Amount</label>
        <app-amount-input [(amount)]="amount" (amountChange)="updateSimulation()"></app-amount-input>
      </div>
      <div class="form-field datepicker">
        <label class="input-label">Reach goal by</label>
        <app-monthpicker (monthChanged)="updateSelectedMonth($event)"></app-monthpicker>
      </div>
    </div>
    <app-simulation-result
      [monthlyAmount]="monthlyAmount"
      [monthAmount]="monthAmount"
      [amount]="amount"
    ></app-simulation-result>
    <button>Confirm</button>
  </div>
</section>
