// WorkSans
@font-face {
  font-family: 'WorkSans';
  src: url('../fonts/WorkSans/WorkSans-Light.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'WorkSans';
  src: url('../fonts/WorkSans/WorkSans-Medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'WorkSans';
  src: url('../fonts/WorkSans/WorkSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

// Rubik
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
}
